:root {
    --background-color:#2E2F42;
    --background-light-color: #F4F4FD;
    --hover-link: #4D5AE5;
    --button-color: #404BBF;
    --border-bottom: #E7E9FC;
    --p_text: #434455;
    --fff: #FFFFFF;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    margin: auto;
    font-family: 'Roboto', 'sans-serif';
}
/*  */
header {
    z-index: 99;
    margin: auto;
    padding: 24px 0px;
    border-bottom: 1px solid var(--border-bottom);
    border-bottom: 1px solid #E7E9FC;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container_header {
    display: flex;
    margin: auto;
    padding: 0px 16px;
}
@media screen and (min-width: 1200px){
    .container_header {
            width: 1160px;
        }  
}
.menu_nav {
    display: none;
}
@media screen and (min-width: 768px) {
    .menu_nav {
        display: flex;
        gap: 40px;
        font-weight: 500;
        font-size: 16px;
        margin-left: 120px;
        color: var(--background-color);
    }
}
@media screen and (min-width: 1200px) {
    .menu_nav {
        margin-left: 76px;
    }
}
@media screen and (min-width: 768px) {
    address {
        margin-left: auto;
    }
}
@media screen and (min-width: 1200px) {
    address {
        margin-left: auto;
    }
}
.contact_date {
    display: none;
}
@media screen and (min-width: 768px) {
    .contact_date {
        display: block;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (min-width: 1200px) {
    .contact_date {
        display: flex;
        flex-direction: row;
    }
}

.email {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--p_text);
}
.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(p_text);
    margin-left: 40px;
}
@media screen and (min-width: 768px) {
    .tel {
        margin-left: 0px;
    }
}
@media screen and (min-width: 1200px) {
    .tel {
        margin-left: 40px;
    }
}
.header-container-mobile {
    margin-left: auto;
}
@media screen and (min-width: 768px) {
    .header-container-mobile {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .header-container-mobile {
    }
}
.btn_burger {
    background: none;
    border: none;
    cursor: pointer;
}
.burger {
    fill: var(--background-color);
    transition: fill var(--transition);
}
.burger:hover,
.burger:focus {
    fill: var(--button-color);
}
/* mobile menu */
.mobile-menu {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    /* max-width: 428px;
    max-height: 796px; */
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--fff);
    transform: translateY(-500%);
    transition: var(--transition);
}
.mobile-menu.is-open {
    transform: translateY(0%);  
}
.mobile-menu-btn{
    position: fixed;
    top: 24px;
    right: 24px;
    line-height: 0;
    text-decoration: none;
    padding: 8px;
    border-radius: 50%;
    background: var(--border-bottom);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill var(--transition),
    background-color var(--transition);
}
.mobile-menu-btn:hover{
    fill: var(--fff);
    background-color: var(--button-color);
}
.mobile-menu {
    padding: 80px 35px 40px 40px;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.menu_nav-mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.studio_nav_nav-mobile,
.portfolio_nav_nav-mobile,
.contacts_nav_nav-mobile,
.tel_nav-mobile,
.email_nav-mobile{
    cursor: pointer;
    text-decoration: none;
    color: var(--background-color);
    transition: color var(--transition);
}
.studio_nav_nav-mobile:hover,
.portfolio_nav_nav-mobile:hover,
.contacts_nav_nav-mobile:hover,
.tel_nav-mobile:hover,
.email_nav-mobile:hover,
.studio_nav_nav-mobile:focus,
.portfolio_nav_nav-mobile:focus,
.contacts_nav_nav-mobile:focus,
.tel_nav-mobile:focus,
.email_nav-mobile:focus {
    color: var(--hover-link);
}
.studio_nav_nav-mobile,
.portfolio_nav_nav-mobile,
.contacts_nav_nav-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-color);
}
.address {
    margin-top: 284px;
}
.tel_nav-mobile {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--hover-link);
}
.email_nav_li {
    margin-top: 40px;
}
.email_nav-mobile {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--p_text);
}

.mobile_item_block {
    display: block;
    margin-top: 48px;
}

.mobile_item_block_ul {
    margin-top: 8px;
    display: flex;
    gap: 0px 56px;
}

.mobile_socials_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--hover-link);
    border-radius: 50%;
    transition: background-color var(--transition);
}

.mobile_socials_link:hover,
.mobile_socials_link:focus {
    background-color: var(--button-color);
}

.mobile_svg_item {
    fill: var(--background-light-color);
    transition: background-color var(--transition);
}

.mobile_svg_item:hover,
.mobile_svg_item:focus {
    fill: var(--background-light-color);
}
/*  */
.studio_nav,
.portfolio_nav,
.contacts_nav,
.email,
.tel {
    text-decoration: none;
    color: var(--background-color);
    transition: color var(--transition);
}
.studio_nav:hover, 
.portfolio_nav:hover,
.contacts_nav:hover,
.email:hover,
.tel:hover
.studio_nav:focus,
.portfolio_nav:focus,
.contacts_nav:focus,
.email:focus,
.tel:focus {
    color: var(--hover-link);
}
.studio_nav,
.portfolio_nav,
.contacts_nav{
    position: relative;
}
.studio_nav.current::after,
.portfolio_nav.current::after,
.contacts_nav.current::after {
    width: 100%;
    height: 4px;
    background-color: var(--button-color);
    content: '';
    display: flex;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    top: 44px;
}
li {
    list-style-type: none;
}
ul {
    margin: 0px;
    padding: 0px;
}
.nav {
    align-items: center;
    display: flex;
}
.nav_webstudio{
    display: flex;
    text-decoration: none;
}
.nav_web {
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    color: var(--hover-link);
}
.nav_studio {
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    color: var(--background-color);
}

/*  */
.hero_image {
    margin: auto;
    padding: 188px 0px;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), 
    url('../images/people-office.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1440px;
}
.conteiner_hero {
    margin: auto;
    width: 100%;
    text-align: center;
}
.hero_h1 {
    text-decoration: none;
    margin: 0px;
    font-style: normal;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--fff);
}
.order {
    margin-top: 48px;
    font-weight: 500;
    border: 0;
    padding: 0%;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 24px;
    width: 169px;
    background: var(--hover-link);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--fff);
    cursor: pointer;
    transition: background-color var(--transition);
}
.order:hover,
.order:focus {
    background: var(--button-color);
}
/*  */
.section1 {
    padding: 96px 16px;
}
@media (min-width: 1200px) {
    .section1 {
        padding: 120px 0px 0px 0px;
    }
}
.conteiner_section1 {
    margin: auto;
    width: 396px;
}
@media (min-width: 768px) {
    .conteiner_section1 {
        width: 736px;
    }
}
@media (min-width: 1200px) {
    .conteiner_section1 {
        width: 1160px;
        padding: 0px 16px;
    }
}
.section1_ul {
}
@media (min-width: 768px) {
    .section1_ul {
        gap: 72px 24px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 1200px) {
    .section1_ul {
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
    }
}
.section_m {
    margin: auto;
    width: 396px;
}
@media (min-width: 768px) {
    .section_m {
        width: 356px;
    }
}
@media (min-width: 1200px) {
    .section_m {
        width: 356px;
    }
}
/* Block 1 - icon */
.section1_item_block {
    display: none;
}
@media (min-width: 768px) {
    .section1_item_block {

        }
}

@media (min-width: 1200px) {
    .section1_item_block {
        width: 264px;
        height: 112px;
        background-color: var(--background-light-color);
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
.section1_h3 {
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-top: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color);
    flex: none;
    order: 0;
    flex-grow: 0;
}
@media (min-width: 768px) {
    .section1_h3 {
        justify-content: start;
        }
}

@media (min-width: 1200px) {
    .section1_h3 {
            margin-top: 8px;
        }
}
.section_p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--p_text);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 8px;
    margin-bottom: 0px;
}
.margin_h3{
    margin: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.margin_p {
    margin: 0px;
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--p_text);
    flex: none;
    order: 0;
}
/* sec 2 */
.section2 {
    display: none;
}
@media (min-width: 1200px) {
    .section2 {
        display: block;
        padding: 120px 0px 120px 0px;
    }
}
.conteiner_section2 {
    margin: auto;
    width: 1160px;
    padding: 0px 16px;
}
.what {
    margin: 0px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    color: var(--background-color);
}
.doing {
    margin-top: 72px;
    display: flex;
    gap: 24px;
}
/* SEC 3 */
.section3 {
    padding: 96px 82px;
    background: var(--background-light-color);
}
.conteiner_section3 {
    padding: 0px 16px;
}
.teame {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    margin-top: 70px;
    width: 264px;
    margin: 72px auto;
}

@media (min-width: 768px) {
    .section3 {
        padding: 96px 108px;
    }
    .teame {
        width: 553px;
    }
}
@media (min-width: 1200px) {
    .section3 {
        padding: 120px 0px;
        margin: auto;
    }
    .conteiner_section3 {
        display: block;
        margin: auto;
        width: 1160px;
    }
    .teame {
        flex-wrap: nowrap;
        width: 1160px;
    }
}
.our_team_h2 {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.teame_card {
    width: 264px;
    text-align: center;
    background-color: var(--fff);
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* @media (min-width: 768px) {
    .teame_card {}
}

@media (min-width: 1200px) {
    .teame_card {}
} */
.teame_card_d {
    padding: 32px 0px;
    margin: auto;

}
@media (min-width: 768px) {
    .teame_card_d {

    }
}
@media (min-width: 1200px) {
    .teame_card_d {}
}
.h3_ourteam {
    width: 264px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.p_ourteam {
    width: 264px;
    margin: 0px;
    margin-top: 8px;
}
/* Footer */
.footer {
    padding: 97.5px 15px 96px 15px;
    background: var(--background-color);
}
.container_footer {
    display: flex;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.footer_webstudio {
    text-decoration: none;
    display: flex;
    justify-content: center;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .footer {
        padding: 96px 164px 96px 108px;
    }
    .container_footer{
        justify-content: flex-start;
        width: 496px;
        gap: 0px 24px;
    }
    .footer_webstudio{
        display: block; 
    }
}
@media (min-width: 1200px) {
    .footer {
        padding: 100px 0px;
    }
    .container_footer {
        width: 1160px;
        padding: 0px 16px;
        gap: 0px;
    }
}
.web {
    color: var(--hover-link);
    font-size: 18px;
    font-family: 'Raleway';
}
.studio_foot {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-light-color);
}
.foot_li {
    width: 264px;
    margin: auto;
}
.foot_d {
    margin: 0px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--border-bottom);
}
/* Footter social */
.footer_item_block {
    margin-top: 72px;
}
.footer_p_text {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--fff);
}
@media (min-width: 768px) {
    .footer_item_block {
        margin-top: 0px;
    }
    .footer_p_text{
        justify-content: flex-start;
    }
}

@media (min-width: 1200px) {
    .footer_item_block{
        margin-left: 120px;
    }
}
.footer_item_block_ul {
    margin-top: 16px;
    display: flex;
    gap: 0px 16px;
}

.footer_socials_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition);
}

.footer_socials_link:hover,
.footer_socials_link:focus {
    background-color: #31D0AA;
    ;
}

.footer_svg_item {
    fill: var(--background-light-color);
    transition: fill var(--transition);
}

.footer_svg_item:hover,
.footer_svg_item:focus {
    fill: var(--background-light-color);
}
/* fotter form */
.footer_form_subscribe {
    margin-top: 72px;
}
.input_mail_foot {
    width: 100%;
    height: 40px;
    padding: 8px 8px 8px 16px;
    border: 1px solid var(--fff);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--background-color);
    color: var(--fff);
    transition: border var(--transition);
}
.footter_email_button {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
@media (min-width: 768px) {
    .footer_form_subscribe {
    }
    .input_mail_foot {
        width: 264px;
    }
    .footter_email_button {
        flex-wrap: nowrap;
        gap: 0px;
    }
}
@media (min-width: 1200px) {
    .footer_form_subscribe {
        margin-top: 0px;
        margin-left: 80px;
    }
}
.input_mail_foot:focus-visible {
    outline: none;
    border: 1px solid var(--hover-link);
}

.input_mail_foot::placeholder {
    color: var(--fff);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}

.btn_subscribe {
    margin-left: 24px;
    padding: 8px 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: var(--hover-link);
    background: var(--hover-link);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--transition);
}

.btn_subscribe:hover,
.btn_subscribe:focus {
    background: var(--button-color);
}

.footer_email_svg {
    margin-left: 16px;
}
.section_filter {
    padding: 48px 0px 48px 0px;
}
.container_filter {
    margin: 0;
    padding: 0 16px;
    box-sizing: border-box;
    color: var(--hover-link);
}
.filter {
    gap: 16px 24px;
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .section_filter {
        padding: 64px 0px 96px 0px;
    }
    .container_filter {
        margin:auto;
        width: 100%;
    }
    .filter {
        flex-wrap: nowrap;
        justify-content: center;
    }
}
@media (min-width: 1200px) {
    .section_filter {
        padding: 100px 0px 120px 0px;
    }
    .filter {
        gap: 24px;
        justify-content: center;
    }
    .container_filter {
        width: 1160px;
    }
}
.button_filter {
    font-weight: 500;
    border: 0;
    padding: 0%;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 24px;
    color: var(--hover-link);
    border: 1px solid #E7E9FC;
    background: var(--background-light-color);
    border-radius: 4px;
    font-family: 'Roboto';
    cursor: pointer;
    transition: color var(--transition),
    background-color var(--transition),
    border var(--transition),
    box-shadow var(--transition);
}
.button_filter:hover,
.button_filter:focus {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--fff);
    box-shadow:
        0px 3px 1px rgb(0 0 0 / 10%),
        0px 2px 1px rgb(0 0 0 / 8%),
        0px 2px 2px rgb(0 0 0 / 12%);
}
.position {
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Roboto';
}
img {
    display: block;
}
.all_img {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
}
@media (min-width: 768px) {
    .all_img {
        gap: 72px 24px;
    }
}
@media (min-width: 1200px){
.all_img {
    gap: 48px 24px;
}
}
.block_img:hover,
.block_img:focus {
    cursor: pointer;
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: var(--transition);
}
.block_img_d {
    padding: 32px 16px;
    margin: auto;
    border-left: 1px solid var(--border-bottom);
    border-right: 1px solid var(--border-bottom);
    border-bottom: 1px solid var(--border-bottom);
}
.h1_delete {
    display: none;
}
/* Block 3 - icon OUR TEAM */
.section3_item_block {
    display: block;
    padding: 0px 16px;
}
.section3_item_block_ul {
    margin-top: 8px;
    display: flex;
    gap: 0px 24px;
}
.section3_socials_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--hover-link);
    border-radius: 50%;
    transition: background-color var(--transition);
}
.section3_socials_link:hover,
.section3_socials_link:focus {
    background-color: var(--button-color);
}
.section3_svg_item {
    fill: var(--background-light-color);
    transition: background-color var(--transition);
}
.section3_svg_item:hover,
.section3_svg_item:focus {
    fill: var(--background-light-color);
}
/* Block 4 */
.section4 {
    padding: 96px 16px;
}
.conteiner_section4 {
    margin: auto;
    padding: 0 16px;
}
.customers_logo {
    margin: auto;
    margin-top: 72px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
}
@media screen and (min-width: 768px){
    .section4 {
        padding: 96px 108px;
    }
    .customers_logo {
        width: 553px;
    }
}
@media screen and (min-width: 1200px) {
    .section4 {
        padding: 130px 0px 120px 0px;
    }
    .conteiner_section4 {
        width: 1160px;
    }
    .customers_logo{
        flex-wrap: nowrap;
        width: 1160px;
    }
}

.customers {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-color);
}

.border_customers_logo {
    display: flex;
    width: 168px;
    height: 88px;
    box-sizing: border-box;
}
.section4_socials_link {
    margin: auto;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: fill var(--transition),
    border var(--transition);
}
.section4_socials_link:hover,
.section4_socials_link:focus {
    border: 1px solid var(--button-color);
    fill: var(--button-color);
}

/* Description img on portfolio */
.img_text_description {
    display: block;
    position: relative;
    overflow: hidden;
    transform: translateY(0);
}
.info_img_portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--hover-link);
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
    transform: translateY(100%);
    transition: transform 250ms;
}
.block_img:hover .info_img_portfolio,
.block_img:focus .info_img_portfolio {
    transform: translateY(0);
}
.link_block_img_portdolio{
    text-decoration: none;
}
.link_block_img_portdolio:hover .info_img_portfolio,
.link_block_img_portdolio:focus .info_img_portfolio {
    transform: translateY(0);
}
.text_info_img_portfolio {
    margin: 0px;
    color: var(--background-light-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 40px 32px 164px;
}
/* Modal window surway form */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 88px 0px 13px 0px;
    background: rgba(46, 47, 66, 0.4);
    transition: var(--transition);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal_window {
    padding: 72px 24px 24px 24px;
    position: relative;
    border-radius: 4px;
    margin: auto;
    width: 408px;
    background: #FCFCFC;
    box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.style_button {
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0;
    text-decoration: none;
    padding: 8px;
    border-radius: 50%;
    background: var(--border-bottom);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill var(--transition),
    background-color var(--transition);
} 
.style_button:hover,
.style_button:focus {
    fill: var(--fff);
    background-color: var(--button-color);
}
.name_form {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);
}
.block_form_input {
    margin-top: 16px;
}
.info_form1 {
    position: relative;
}
.info_form {
    position: relative;
    margin-top: 8px;
}
.icon_form {
    width: 15px;
    height: 13px;
    position: absolute;
    top: 57%;
    left: 19px;
}
.name_lable_info_form {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #8e8f99;
}
.lable_name, 
.lable_tel, 
.lable_email {
    margin-top: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    opacity: 0.2;
    border: 1px solid var(--background-color);
    border-radius: 4px;
    transition: border var(--transition),
    opacity var(--transition),
    fill var(--transition);
} 
.lable_comment {
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    opacity: 0.2;
    border: 1px solid #2E2F42;
    border-radius: 4px;
    transition: border var(--transition),
    opacity var(--transition);
}
.lable_name:focus-visible,
.lable_name:focus,
.lable_tel:focus-visible,
.lable_tel:focus,
.lable_email:focus-visible,
.lable_email:focus,
.lable_comment:focus-visible,
.lable_comment:focus {
    outline: none;
    opacity: 1;
    border: 1px solid var(--hover-link);
    fill: var(--hover-link);
}
.lable_name:focus-visible+.icon_form,
.lable_name:focus,
.lable_tel:focus-visible+.icon_form,
.lable_tel:focus,
.lable_email:focus-visible+.icon_form,
.lable_email:focus,
.lable_comment:focus-visible+.icon_form,
.lable_comment:focus {
    fill: var(--hover-link);
}
.lable_comment::placeholder {
    color: rgba(46, 47, 66, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
}
.info_form_polici{
    margin-top: 16px;
    display: flex;
}
.text_policy {
    margin: 0;
    margin-left: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}
.btn_send {
    width: 169px;
    height: 56px;
    display: flex;
    margin: 24px auto 0px;
    padding: 16px 32px;
    justify-content: center;
    gap: 10px;
    border: var(--hover-link);
    background: var(--hover-link);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--fff);
    cursor: pointer;
    transition: background-color var(--transition);
}
.btn_send:hover,
.btn_send:focus {
    outline: none;
    background-color: var(--button-color);
}
.checkbox-icon {
    width: 16px;
    height: 16px;
    border: 1px solid var(--background-color);
    border-radius: 2px;
    padding: 4px 3px;
}
.checkbox_polici_style {
    width: 16px;
    height: 16px;
    opacity: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.checkbox-icon-svg {
    position: absolute;
    pointer-events: none;
}
.checkbox_polici_style:checked + 
.checkbox-icon {
    background-color: var(--button-color);
    border: var(--button-color);
}

